nav {
  background: rgb(64, 0, 0);
  background: linear-gradient(0deg, rgba(80, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 100%);
  display: flex;
  align-items: center;
  padding: 1rem;
  z-index: 1;
  height: 12vh;
}

.navTitle {
  display: flex;
  position: absolute;
}

.navTitle h1 {
  width: 30vh;
  position: relative;
  margin: 0;
  flex: 1;
  font-size: 5vh;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(8, auto);
  justify-content: center;
  flex: 1;
  z-index: 2;
}

li {
  padding: 16px 12px;
}

/* li:not(:first-child):not(:last-child) {
  margin-right: 1.3rem; 
} */

li a {
  display: flex;
  padding: 8px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 2.2vh;
  z-index: 20;
}

.logSign {
  justify-content: right;
  align-items: right;
  position: sticky;
}

.active {
  color: #fff700;
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  nav {
    height: auto;
    padding: 1rem;
    flex-direction: column;
  }

  .navTitle h1 {
    width: auto;
    font-size: 4vh;
    margin-bottom: 1rem;
  }

  ul {
    flex-direction: column;
    grid-template-columns: repeat(2, auto);
    gap: 0.5rem;
    column-gap: 20vw;
    margin-top: 10vh;
  }

  li {
    padding: 8px;
    text-align: center;
  }

  .logSign {
    margin-top: 20px;
  }
}
