nav {
  position: relative;
  overflow: hidden;
  padding: 0 0 10px 0;
}

.nav-inner {
  background: linear-gradient(180deg, rgba(90,0,0,1) 0%, rgba(130,0,0,1) 50%, rgba(200,0,0,1) 100%);
  display: flex;
  align-items: center;
  padding: 1rem;
  z-index: 1;
  height: 12vh;
  position: relative;
}

nav::before {
  content: "";
  display: block;
  background: linear-gradient(
    90deg,
    rgba(200,0,0,1) 30%,
    #fff 30%,
    #fff 75%,
    rgba(200,0,0,1) 75%
  );
  background-size: 40px;
  position: absolute;
  top: -10000px;
  left: -500px;
  bottom: -10000px;
  right: -500px;
  transform: rotate(45deg);
  z-index: -1;
}

.navTitle {
  display: flex;
  position: absolute;
}

.navTitle h1 {
  width: 30vh;
  position: relative;
  margin: 0;
  flex: 1;
  font-size: 5vh;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(8, auto);
  flex: 1;
  z-index: 2;
  justify-content: right;
  padding-right: 2.3vw;
}

li {
  padding: 16px 12px;
}

/* li:not(:first-child):not(:last-child) {
  margin-right: 1.3rem; 
} */

li a {
  display: flex;
  padding: 8px;
  color: rgb(255, 255, 255);
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 3vh;
  z-index: 20;
}

.logSign {
  justify-content: right;
  align-items: right;
  position: sticky;
}

.active {
  color: #fff700;
  background-color: transparent;
}

@media screen and (max-width: 600px) {
  .nav-inner {
    height: auto;
    padding: 1rem;
    flex-direction: column;
  }

  .navTitle h1 {
    width: auto;
    font-size: 4vh;
    margin-bottom: 1rem;
  }

  ul {
    flex-direction: column;
    grid-template-columns: repeat(2, auto);
    gap: 0.5rem;
    column-gap: 20vw;
    margin-top: 10vh;
  }

  li {
    padding: 8px;
    text-align: center;
  }

  .logSign {
    margin-top: 20px;
  }
}
