nav {
    height: 90px;
    background-color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 15%;
    z-index: 1;
    position: absolute;
    padding: 1rem;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

li {
    display: inline-block;
    padding: 16px;
  }

li a {
    display: flex;
    padding: 8px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.8vh;
    z-index: 20;
  }
  
li a:hover {
  color: #fff700;
}


.logSign {
  justify-content: right;
  align-items: right;
  position: sticky;
}

.active {
  color: #fff700;
  background-color: transparent;
}

@media screen and (max-width: 600px) {
    nav {
      height: 130px;
      padding: 1px;
      padding-left: 10px;
    }
    li{
      padding: 4px;
    }
    .logSign {
      margin-top: 20px;
    }
}