/* general */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./components/assets/images/mainBg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  /* display: flex;
  flex-direction: column; */
}

h1 {
  text-align: center;
  color: white;
  font-size: 44px;
}

#root {
  /* display: flex;
  flex-direction: column; */
  min-height: 100vh;
}

.content-container {
  flex-grow: 1;
}
/* end of general */

/* header */
.header {
  height: 100px;
  background-color: black;
  width: 90%;
  display:inline-block;
  text-align: center;
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
}

.vinesL {
  background-image: url("./components/assets/images/vinesL.png");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: calc(0% + 10px) calc(30%);
  
}

.vinesR{
  background-image: url("./components/assets/images/vinesR.png");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: calc(0% + -10px) calc(30%);
  
}
/* .headerBg {
  background-image: url("./components/assets/images/dark.jpg");
  background-size: 240px;
  width: 100%;
} */

/* end of header */

/* Home */
.home-container {
  
}

.homeImg img {
  width: 50%;
  margin: 10%;
  left: 0%;
}

.homeBg {
  height: 90vh;
  background: rgb(64,0,0);
  background: linear-gradient(180deg, rgba(90,0,0,1) 0%, rgba(130,0,0,1) 49%, rgba(200,0,0,1) 100%);
  box-shadow: 0px 10px 20px rgba(182, 0, 0, 0.981);
}

.homeText {
  display: flex;
  position: relative;
  left: -30%;
  bottom: 10%;
  height: 100%;
}

.homeText h3 {
  position: absolute;
  font-family: Bradley Hand, cursive;
  color: white;
  width: 40%;
  font-size: 5vw;
}

.homePizzaImg {
  height: 10%;
  display: block;
}

.homeTextImg-container {
  display: flex;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

@media screen and (max-width: 600px) {
}

.pizzaSteam-container {
  position: relative;
  display: flex;
  right: 10%;
  margin-top: 10%;
}

.homePizzaImg-container {
  position: relative;
}

.pizza-image {
  position: relative;
  left: 55%;
  /* top: 40%; */
}

.steam-animation {
  position: absolute;
  top: -50%;
  left: 0%; 
  transform: translateX(-50%);
  animation-name: steam;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 1;
}

@keyframes steam {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-20px); /* Adjust the steam's upward movement */
  }
  100% {
    opacity: 0;
    transform: translateY(-50px); /* Adjust the steam's final position */
  }
}



/* pages */
.pagesSection {
  width: 90%;
  display:inline-block;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  margin-top: 20px;
}

/* end of pages */

/* slides */
.dot {
  background-color: rgba(0, 0, 0, 0.702);
}
.dot.active {
  background-color: rgb(255, 255, 255);
}
/* end of slides */

/* deal page */
.dealContainer {
  display: flex;
}

.dealBox {
  display: block;
  padding: 10px;
  padding-left: 20px;
  position: relative;
  width: 30vw;
  font-size: 1vw;
}

.dealLine {
  border-bottom: 1px solid #575757;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .pagesSection {
    flex-direction: column;
  }
  
  .dealContainer {
    flex-direction: column;
  }
  
  .dealBox {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .slideshowBox {
    margin-top: 2vw;
    margin-bottom: 0;
  }
}

/* end of deal page */

/* login */
.loginMarg {
  padding: 10px;
}

.loginStyle {
  margin: 10px;
}
.loginStyle input {
  margin-left: 30px;
  margin-top: 40px;
}

.textError {
  color: white;
  z-index: 5;
}
/* end of login */

/* footer */
.footerContainer {
  display: flex;
  margin-top: auto;
}

.footer {
  background-color: rgb(0, 0, 0);
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 100%;
  height: 10vh;
  bottom: 0;
  left: 0;
  position: relative;
}

.footer h4 {
  font-size: 1.2vw;
}

.footer a {
  color: white;
}

#phone {
  float: left;
  padding-left: 2vw;
}

#address {
  float: right;
  padding-right: 2vw;
}

/* @media screen and (max-width: 600px) {
  .footer {
    height: 150px;
  }
  #address {
    float: left;
  }
  body {
    background-size: 1400px;
    background-repeat: no-repeat;
  }
  .headerBg {
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center calc(100%);
    max-width: 100%;
  }
  .loginStyle input{
    margin-top: 19px;
  }
} */