/* general */
html,
body {
  position: relative;

  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./components/assets/images/wood.jpg");
  background-size: 100% 100%;
  overflow-x: hidden;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
}

h1 {
  text-align: center;
  color: white;
  font-size: 44px;
}

#root {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
}

.content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

}
/* end of general */

/* header */
.header {
  height: 100px;
  background-color: black;
  width: 90%;
  display:inline-block;
  text-align: center;
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
}

.vinesL {
  background-image: url("./components/assets/images/vinesL.png");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: calc(0% + 10px) calc(30%);
  
}

.vinesR{
  background-image: url("./components/assets/images/vinesR.png");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: calc(0% + -10px) calc(30%);
  
}
/* .headerBg {
  background-image: url("./components/assets/images/dark.jpg");
  background-size: 240px;
  width: 100%;
} */

/* end of header */

/* Home */
.home-container {
}

.homeImg img {
  width: 50%;
  margin: 10%;
  left: 0%;
}

.homeBg {
  height: 90vh;
  background: rgb(64,0,0);
  background: linear-gradient(180deg, rgba(90,0,0,1) 0%, rgba(130,0,0,1) 49%, rgba(200,0,0,1) 100%);
  box-shadow: 0px 10px 20px rgba(182, 0, 0, 0.981);
}

.homeText {
  display: flex;
  position: relative;
  left: -25%;
  width: 70%;
}

.homeText h3 {
  display: flex;
  position: absolute;
  font-family: Bookman, URW Bookman L, serif;
  color: white;
  width: 70%;
  font-size: 5vw;
  margin-left: -20vw;
  margin-top: 20vh;
  -webkit-text-stroke: 3px rgb(255, 85, 0);
	-webkit-text-fill-color: white;
  text-shadow: 0px 4px 4px #282828;
  
}

.homeBanner-container {
  width: 90%;
}

.homePizzaImg {
  height: 10%;
  display: block;
}

.homeTextImg-container {
  display: flex;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 90%;
}

@media screen and (max-width: 600px) {
  .homeBanner-container {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    transform: translateX(-2%);
  }
  .homeText h3 {
    transform: translateX(30%);
    font-size: 5.5vh;
    position: absolute;
  }
  .homeText {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .homePizzaImg-container {
    width: 100vh;
  }
}

.pizzaSteam-container {
  position: relative;
  display: flex;
  right: 10%;
  width: 100vw;
}

.homePizzaImg-container {
  position: relative;
}

.pizza-image {
  position: relative;
  left: 55%;
  /* top: 40%; */
}

.steam-animation {
  position: absolute;
  top: -50%;
  left: 0%; 
  transform: translateX(-50%);
  animation-name: steam;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 1;
}

@keyframes steam {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-20px); /* Adjust the steam's upward movement */
  }
  100% {
    opacity: 0;
    transform: translateY(-50px); /* Adjust the steam's final position */
  }
}



/* pages */
.pagesSection {
  width: 90%;
  display:inline-block;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  margin-top: 20px;
}

/* end of pages */

/* slides */
.dot {
  background-color: rgba(0, 0, 0, 0.702);
}
.dot.active {
  background-color: rgb(255, 255, 255);
}
/* end of slides */

/* deal page */
.dealContainer {
  display: flex;
}

.dealBox {
  display: block;
  padding: 10px;
  padding-left: 20px;
  position: relative;
  width: 30vw;
  font-size: 1vw;
}

.dealLine {
  border-bottom: 1px solid #575757;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .pagesSection {
    flex-direction: column;
  }
  
  .dealContainer {
    flex-direction: column;
  }
  
  .dealBox {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .slideshowBox {
    margin-top: 2vw;
    margin-bottom: 0;
  }
}

/* end of deal page */

/* login */
.loginMarg {
  padding: 10px;
}

.loginStyle {
  margin: 10px;
}
.loginStyle input {
  margin-left: 30px;
  margin-top: 40px;
}

.textError {
  color: white;
  z-index: 5;
}
/* end of login */

/* footer */
.footerContainer {
  display: flex;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 3vh;
}

.footer {
  background-color: rgb(0, 0, 0);
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 10vh;
  bottom: 0;
  left: 0;
  position: relative;
}

.footer h4 {
  font-size: 1.2vw;
}

.footer a {
  color: white;
}

#phone {
  display: flex;
  flex-direction: row;
  float: left;
  padding-left: 2vh;
}

#address {
  float: right;
  flex-direction: row;
  padding-right: 2vh;
}

@media screen and (max-width: 600px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
  }

  .footer {
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
    height: 10vh;
    bottom: 0;
    left: 0;
    position: relative;
  }

  .footer h4 {
    font-size: 4vw; 
    margin: 0;
    padding: 1vh 0; 
    text-align: center;
  }

  #phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
  }

  #address {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
  }
}


/* @media screen and (max-width: 600px) {
  .footer {
    height: 150px;
  }
  #address {
    float: left;
  }
  body {
    background-size: 1400px;
    background-repeat: no-repeat;
  }
  .headerBg {
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center calc(100%);
    max-width: 100%;
  }
  .loginStyle input{
    margin-top: 19px;
  }
} */

.homepage {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.homepage .col {
  width: 50%;
  text-align: center;
}

.homepage .col h3 {
  display: flex;
  justify-content: center;
  font-family: 'Lobster';
  font-size: 5vw;
  color: white;
  text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5

}

.homepage .col .image-container {
  position: relative;
  height: 0;
  padding-bottom: 56%;
}

.homepage .col .image-container .image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.homepage .col .image-container .animation {
  position: absolute;
  top: -25%;
  left: 25%;
  width: 50%;
  animation-name: steam;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: 1;
  pointer-events: none;
}
.homepage .col.title-col {
  background: linear-gradient(180deg, rgba(90,0,0,1) 0%, rgba(130,0,0,1) 50%, rgba(200,0,0,1) 100%);
  box-shadow: -8px 8px 0px #fff;
  border-radius: 0 20px 20px 0;
  backdrop-filter: blur(4px);
}

@media screen and (max-width: 600px) {
  .homepage {
    flex-direction: column;
    padding-top: 30px;
  }

  .homepage .col {
    width: 80%;
  }

  .homepage .col h3 {
    font-size: 10vw;
  }

  .homepage .col.title-col {
    border-radius: 9999px;
    box-shadow: -3px 3px 0 0 #fff;
  }
}